/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';


$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark:   #5c5964;
$primary-color:        #d7cee7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
}

mat-grid-tile {
  background: lightblue;
}

.maquina{
  margin: 1px 0px 0px 0px;
  box-shadow: none;
}

